<header>
  <!-- <nav class="navbar">
    <a href="#" class="navbar-logo">
      <img src="../../../assets/images/tmb-logo-light.png" alt="" />
    </a>
    <ul class="navbar-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/movies">Movies</a></li>
      <li><a routerLink="/tvshows">TV Shows</a></li>
      <li><a routerLink="/categories">Categories</a></li>
    </ul>
  </nav> -->
  <nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-logo" href="#">
        <img src="../../../assets/images/tmb-logo-light.png" alt="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link fs-5" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link fs-5" routerLink="/movies">Movies</a></li>
          <li class="nav-item"><a class="nav-link fs-5" routerLink="/tvshows">TV Shows</a></li>
          <li class="nav-item"><a class="nav-link fs-5" routerLink="/categories">Categories</a></li>
        </ul>
        <form class="d-flex mx-4" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
