<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/ocUp7DJBIc8VJgLEw1prcyK1dYv.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="title">Spider-Man: No Way Home</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon mx-2" style="color: orange">star</span><span class="rating-value">7.5/10</span>
          </span>
          <span class="reviews">500 Reviews</span>
          <span class="year">2021</span>
        </div>
      </div>
      <div class="description mt-6">
        <p>
          Peter Parker is unmasked and no longer able to separate his normal life from the high-stakes of being a
          super-hero. When
        </p>
      </div>
    </div>
  </div>
</div>
